.section__title.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section__portfolio{
        margin-left: -30px;
        margin-top: -30px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;

}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__img {
    display: block;
}

.portfolio__overlay {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transition: transform 250ms var(--timing-function);
    transform: translateY(100%);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0);
    }
}

.portfolio__item {
    cursor: pointer;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__description {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
}

.portfolio__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}