.menu-panel {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.menu-panel__item {
    @media screen and (max-width: $mobile) {
        margin-bottom: 15px;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.menu-panel__button {
    border: transparent;
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: #fff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:active {
        background-color: var(--accent-color);
        color: #fff;
    }
}