*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--title-text-color);
    font-family: var(--primary-font), sans-serif;
    background-color: #fff;
}

address {
    font-style: normal;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--title-text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea {
    outline: none;
}